@page
@using VOD.Common.Extensions
@model IndexModel
@inject SignInManager<VODUser> SignInManager
@{
    ViewData["Title"] = "Courses";
}
@if (SignInManager.IsSignedIn(User) && User.HasClaim("Role", "Admin"))
{
    <div class="row">
        <div class="col-md-10 offset-md-1" style="padding-left:0; padding-right:0;">
            <alert alert-type="success">@Model.Alert</alert>
        </div>
        <div class="col-md-1">
        </div>
    </div>
    <div class = "row">
        <div class="col-md-10-offcet-md-1">
            <h1>@ViewData["Title"]</h1>
            <partial name = "_PageButtonsPartial" />
            <table style="margin-top:20px;" class="table">
                <thread>
                    <tr>
                        <th>Title</th>
                        <th>Instructor</th>
                        <th>Description</th>
                        <th></th>
                        </tr>
                </thread>
                <tbody>
                    @foreach (var course in Model.Courses){
                        var description = course.Description.Truncate(100);
                        <tr>
                            <td> @Html.DisplayFor(modelItem => course.Title)</td>
                            <td>@Html.DisplayFor(modelItem => course.Instructor)</td>
                            <td>@Html.DisplayFor(modelItem =>course.Description)</td>
                            <td style = "min-width: 100px;">
                                <partial name ="_TableRowButtonsPartial"
                                    model="@course.ButtonDTO"/>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-1"></div>
    </div>
}
